@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Croissant+One&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@font-face {font-family: "The Mondela Catalisa Serif";src: url('https://Koa-la.github.io/firmas//The%20Mondela%20Catalisa%20Serif.ttf');}


.hihiz-main-box {
    max-width: 640px;
    margin: auto;
    background-color: var(--hhbackg);
    padding: 10px;
    position: relative;
    box-sizing: border-box;     
  }
  
.hihiz-main-image {
    position: relative;
    display: flex;
    max-width: 600px;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto 0 auto; 
    border: 1px solid var(--hhborder);
    margin-top: 20px;
  }
  
  .hihiz-main-image img {
    width: 100%;
    height: 100%;         
    object-fit: cover;     
    display: block;
    filter: brightness(0.8);
  }


.hihiz-label-top {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--hhbackg);
  color: var(--hhtext);
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 10px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
  
}


.hihiz-namez {
  font-family: Elgian;
  position: absolute;
  color: var(--hhtext);
  line-height: 1;
  left: 30px;
  top: 30px;
  font-size: 40px;
  text-align: left;
  
}


.hihiz-label2 {
  position: absolute;
  right: 30px;
  bottom: 40px;
  text-align: right;
  font-family: 'The Mondela Catalisa Serif';
}


.hihiz-label2 h1 {
  font-size: 36px;
  color: var(--hhtext);
  margin: 0;
  font-weight: normal;
  margin-bottom : -37px;
}


.hihiz-label2 p {
  font-size: 12px;
  max-width: 200px;
  margin: 5px auto 0;
  background: var(--hhborder);
  color: var(--hhbackg);
  padding: 5px 8px;
  border-radius: 0 10px 10px 0;
  display: inline-block;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: -10px;
}


.hihiz-textzz {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
    font-size: 16px;             
    line-height: 1.7;
    max-width: 600px;             
    margin-left: auto;
    margin-right: auto;
    text-align: justify;                 
    box-sizing: border-box;
    color: var(--hhtext);
  }
