@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Crushed&family=Hanuman:wght@100;300;400;700;900&display=swap');

.jnsz-weirdo-frame {
    background-color: var(--wzbackg);
    border: 1px solid var(--wzborder);
    max-width: 800px;
    width: 100%;              
    margin: auto;
    padding: 30px;
    position: relative;
    box-sizing: border-box;     
}

.jnsz-weirdo-top-bar {
  display: flex;
  justify-content: space-between;
  font-family: "Hanuman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: var(--wztext);
  margin-bottom: 20px;
}

.jnsz-weirdo-title {
  color: var(--wztext);
  text-align: center;
  font-family: "Crushed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 20px;
}

.jnsz-weirdo-subtitle {
    color: var(--wztext);
    font-family: "Hanuman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    margin-top: -40px;     
    margin-bottom: 30px;  
  }

.jnsz-weirdo-divider {
  height: 0.5px;
  background-color: var(--wzline);
  margin-bottom: 30px;
  margin-top: 30px;
}

.jnsz-weirdo-flex {
  display: flex;
  gap: 10px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  box-sizing: border-box;
}

.jnsz-weirdo-flex img {
  border: 0.5px solid var(--wzborder);
  box-sizing: border-box;
  max-width: 750px;
  width: 100%;
  object-fit: cover;
}

.jnsz-weirdo-in4img {
  height: 190px;
}

.jnsz-weirdo-center-img {
  height: 391px;
  border-radius: 0px;
}

.jnsz-weirdo-footer-bar {
  height: 0.5px;
  background-color: var(--wzline);
  margin-top: 30px;
}

.jnsz-weirdo-text-box {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 300;
    font-style: normal;
    max-width: 750px;
    width: 100%;
    margin-top: 30px;       
    margin-bottom: 35px;
    text-align: justify;
    line-height: 1.7;
    font-size: 15px;
    color: var(--wztext);
  }

.jnsz-weirdo-swatches {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 15px 0 5px;
}

.jnsz-weirdo-swatch {
  width: 18px;
  height: 18px;
  background-color:  var(--wztext);
}

.jnsz-weirdo-footer {
  font-family: "Hanuman", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 9px;
  color: var(--wztext);
}
