@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


    .pageof-wrapper {
      text-align: center;
      margin: 10px auto;
      background: var(--backg);
      border: 1px solid var(--border);
      max-width: 700px;
      width: 100%;
      padding: 40px;
      outline-offset: -10px;
      position: relative;
      display: block;
      box-sizing: border-box;
    }


    .pageof-title {
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 25px;
      margin-bottom: -10px;
      margin-top: 50px;
      color: var(--text); 
    }


    .pageof-subtitle {
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: italic;
      font-size: 12px;
      margin-bottom: 10px;
      color: var(--text); 
    }


    .pageof-quote {
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: normal;
      margin: 20px 0;
      font-size: 12px;
      color: var(--quote); 
    }

.pageof-image-grid{
  display:flex;
  justify-content:center;
  gap:10px;
  margin:20px 0 0;
}

.pageof-image-block{
  width:250px;      
  height:300px;     
  text-align:center;
}

.pageof-image-block img{
  width:100%;
  height:100%;
  object-fit:cover;          
  object-position:center;   
  display:block;
  border:1px solid var(--text);
}

    .pageof-caption {
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 11px;
      margin-top: 0px;
      color: var(--quote); 
    }


    .pageof-star {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 20px;
      color: var(--text); 
    }


    .pageof-cr {
      position: absolute;
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: normal;
      top: 25px;
      left: 30px;
      font-size: 9px;
      color: var(--text); 
    }


    .pageof-text-box {
      font-family: "Bai Jamjuree", sans-serif;
      font-weight: 400;
      font-style: normal;
      max-width: 600px;
      width: 100%;
      padding-left: 9px;
      margin-top: 30px;       
      text-align: justify;
      line-height: 1.7;
      font-size: 15px;
      color: var(--text);
    }


    .pageof-remark {
        margin-top: 25px;
        margin-left: 400px;
      }
    
      .pageof-remark2 {
        background: var(--text); 
        color: white;
        padding: 6px 6px;
        font-family: "Bai Jamjuree";
        font-size: 14px;
      }
